@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
  margin: 15px 0;
}

.home ul li {
  display: flex;
  width: 15px;
  gap: 15px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  width: 100%;
  gap: 15px;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  padding: 23px 14px;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0px;
  padding: 10px 0px;
}

.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  padding: 10px 20px;
  border-radius: 15px;
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.card > * {
  margin-top: 10px;
}

.play {
  position: absolute;
  top: 170px;
  right: 15px;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.play:hover {
  opacity: 1;
  top: 150px;
}
.play img{width: 50px;}

.card p {
  color: #b3b3b3;
  font-size: 14px;
}

.card h2 {
  font-size: 16px;
}